<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WEB PHISHING DETECTION</title>
</head>
<style>
    body {background-color: powderblue;}
    h1{text-align: center;}
    h2{text-align: center;}
    input{margin: auto; width: 50%;}
</style>
</head>
<body>
    <h1>WEB PHISHING DETECTION</h1>
    <h2>Using Random Forest</h2>
    
    
    <form method="POST" action="/predict">
        <p>ENTER THE URL</p>
        <input  type="text" id="url" name="url" size="50" >
        <br>
        <br>
        <button style="display:block; margin: 0 auto;">
            SUBMIT
          </button>
    </form>
</body>
</html>